extends /_layouts/default
block title
  title Schultz | Services
block css
  link(rel="stylesheet" href="../assets/css/main.css")

block content
  include /_includes/nav.pug

  .container
    section.row.residential.service
      .pull-left.col-lg-8.col-md-6
        h2 Residential Construction
        p.text-justify Schultz &amp; Schultz Builders, Inc. is a full service general contractor specializing in residential and commercial construction, as well as electrical contracting services.  Our residential construction services include:
        ul
          li Project Management
          li New Construction
          li Renovations/Remodels
          li Repairs/Seismic Retrofits
          li Custom Hand Crafted Residential Cabinetry
          li New, rustic buildings with green, reclaimed materials
          li Hardscaping
          li Code Upgrades
      .pull-right.col-lg-4.col-md-6
        img.img-responsive.logo(src="/assets/images/logo/Schultz_Logo.png")
  include /_includes/footer.pug

