.img-container
  margin-top: 25px
  .albums
    .thumb
      .thumbnail
        cursor: pointer
        text-decoration: none
        img.image
          margin: 0 auto
          height: 200px
  .gallery
    display: none
    margin-top: 75px
    .thumb
      .thumbnail
        cursor: pointer
        text-decoration: none
        img.image
          margin: 0 auto
          height: 200px