section.schultz-features.container.container-fluid
  .row
    .col-md-4.col-sm-12
      .thumbnail
        img.img-responsive(src="assets/images/Icons/about.png")
        .caption
          h3 hello
          p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
          p
            a(href="#" role="button").btn.btn-primary button
            | &thinsp;
            a(href="#" role="button").btn.btn-default button
    .col-md-4.col-sm-12
      .thumbnail
        img.img-responsive(src="assets/images/Icons/support.png")
        .caption
          h3 hello
          p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
          p
            a(href="#" role="button").btn.btn-primary button
            | &thinsp;
            a(href="#" role="button").btn.btn-default button
    .col-md-4.col-sm-12
      .thumbnail
        img.img-responsive(src="assets/images/Icons/contact.png")
        .caption
          h3 hello
          p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
          p
            a(href="#" role="button").btn.btn-primary button
            | &thinsp;
            a(href="#" role="button").btn.btn-default button
