section.schultz-features.container.container-fluid
  .row
    .col-sm-4
      .thumbnail
        img.img-responsive(src="assets/images/icons/about.png")
        .caption
          h3 Learn more about us!
          p Get to know us better by learning about us and our company...
          p
            a(href="/about/company.html" role="button").btn.btn-primary About Us
    .col-sm-4
      .thumbnail
        img.img-responsive(src="assets/images/icons/support.png")
        .caption
          h3 Check out our Services!
          p We offer a wide variety of services. See for yourself...
          p
            a(href="/about/services.html" role="button").btn.btn-primary Services
    .col-sm-4
      .thumbnail
        img.img-responsive(src="assets/images/icons/contact.png")
        .caption
          h3 Get in touch with us!
          p Check us out on Facebook, or call us to inquire about work you need done...
          p
            a(href="#" role="button").btn.btn-primary Facebook
            | &thinsp;
            a(href="/contact.html" role="button").btn.btn-warning Contact Us
