div(data-use-bootstrap-modal="false")#blueimp-gallery.blueimp-gallery.blueimp-gallery-controls
  .slides
  h3.title
  a.prev &lsaquo;
  a.next &rsaquo;
  a.close &times;
  a.play-pause
  ol.indicator
  .modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          buttom(type="button" aria-hidden="true").close &times;
          h4.modal-title
        .modal-body.next
        .modal-footer
            button(type="button").btn.btn-default.pull-left.prev
              i.glyphicon.glyphicon-chevron-left
              | Previous
            buttom(type="button").btn.btn-primary.next
              | Next
              i.glyphicon.glyphicon-chevron-right
