section.schultz-hero
  .container.clearfix
    .row
      .col-md-3.col-sm-12.clearfix.schultz-logo
        img.img-responsive.center-block(src="assets/images/logo/schultz_logo.png")
      .col-md-8.col-sm-12.text-center.schultz-intro
        p.text-center Welcome to the official website for
        h1.schultz-title Schultz &amp; Schultz Builders
        h4.schultz-slogan: q Quality by Design
        p.schultz-license: small License #426408
        p.schultz-desc.hidden-sm.hidden-xs
          | We specialize in both commercial and residential construction projects.
          br
          | Quality is out central focus and your satisfaction is out end goal!
