.templates.hidden
  .albums
    .col-lg-3.col-md-4.col-xs-12.thumb
      a(href="#").thumbnail
        img(src="" alt="").image
        .caption
          h4
  .blueimp-gallery
    #links
      a(href="" title="" data-gallery)
        img(src="" alt="")
