.templates.hidden
  .col-lg-12.title
    h1.page-header
  .albums
    .col-lg-3.col-md-4.col-sm-6.col-xs-12.thumb
      a(href="javascript:;").thumbnail
        img(src="" alt="").image
        .caption
          h4
  .blueimp-gallery
    .col-lg-3.col-md-4.col-sm-6.col-xs-12.thumb
      a(href="" title="" data-gallery).thumbnail
        img(src="" alt="").image
    
