extends /_layouts/default
block title
  title Schultz | Services

block content
  include /_includes/nav.pug
  include /_includes/footer.pug

block scripts
  script(src="//code.jquery.com/jquery-1.12.0.min.js")
  script(src="/assets/js/bootstrap.js")
  script(src="/assets/js/jquery.blueimp-gallery.min.js")
  script(src="/assets/js/bootstrap-image-gallery.min.js")
