#blueimp-gallery.blueimp-gallery
  .slides
  h3.title
  a.prev <
  a.next >
  a.close x
  a.play-pause
  ol.indecator
  .modal.fade
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          button(type="button" aria-hidden="true").close &times;
          h4.modal-title
        .modal-body.next
        .modal-footer
          button(type="button").btn.btn-default.pull-left.prev
            i.glyphicon.glyphicon-chevron-left
            | Previous
          button(type="button").btn.btn-primary.next
            | Next
            i.glyphicon.glyphicon-chevron-right
