extends /_layouts/default
block title
  title Schultz | Gallery
block append css
  link(rel="stylesheet" href="/assets/css/gallery.css")

block content
  include /_includes/nav.pug
  .img-container.container.container-fluid
    .content.row.albums
      .col-lg-12
        h1.page-header Galleries
  include /_includes/gallery-controls.pug
  include /_includes/footer.pug

block append scripts
  script(src="/assets/js/jquery.blueimp-gallery.min.js")
  script(src="/assets/js/bootstrap-image-gallery.min.js")
  script(src="/assets/js/gallery.js")